.header-container {
  display: flex;
  width: 100%;
  top: 0;
  align-items: baseline;
}

.header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 24px;
  background-color: white;
  position: relative;
}

.header-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  z-index: 1;
}

.header-title {
  font-size: 18px;
  letter-spacing: -0.015em;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}
