.recipe-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffcf9;
  font-family: Arial, sans-serif;
  text-align: center;
}

.recipe-loading-container h2 {
  font-size: 24px;
  color: #ff7f50;
  /* color: #0A84FF; */
  margin-bottom: 10px;
}

.recipe-loading-container p {
  font-size: 18px;
  color: #333;
}

.pizza-animation {
  width: 60%;
  height: 60%;
  visibility: hidden;
}
