.card-custom-sticker-page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-custom-sticker-component-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
