.card-apply-info-page-container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.card-apply-info-component-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
