.wrapper {
  width: 100%;
  max-width: 375px;
  height: 812px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  overflow-y: auto; /* 스크롤 가능하도록 */
  /* 스크롤바 숨김 처리 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari에서 스크롤바 숨김 */
.wrapper::-webkit-scrollbar {
  display: none;
}

/* 노치 디자인 */
.notch-overlay {
  position: absolute;
  /* top: 10px; */
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 4px;
  background: #e0e0e0;
  border-radius: 4px;
  z-index: 1001;
  pointer-events: none;
}

@media (max-width: 375px) {
  .notch-overlay {
    display: none;
  }
}

/* 태블릿 이상 화면에서도 모바일 레이아웃 유지 */
@media (min-width: 768px) {
  .wrapper {
    /* 화면이 큰 경우에도 모바일 뷰 유지 */
    max-width: 375px;
  }

  /* 배경 이미지 */
  body {
    background-color: #f5f5f5; /* 임시 배경색 */
  }
}
